/* .skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
} */

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.recipe_app {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  grid-gap: 0px 90px;
}
.app_form {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 70px;
  top: 0px;
  z-index: 2;
  position: fixed;
  background-color: white;
  outline: none;
}
#search {
  position: fixed;
  border: 1px solid rgb(140, 141, 158);
  left: 450px;
  top: 20px;
  width: 30%;
  height: 37px;
  border-radius: 40px;
  padding-left: 40px;
  margin-right: 50px;
}

.app_submit {
  border: inherit;
  background-color: rgb(126, 126, 219);
  color: white;
  position: absolute;
  width: 83px;
  height: 39px;
  top: 20px;
  right: 34em;
  border-radius: 31px;
  cursor: pointer;
}
.app_submit:hover {
  background-color: rgb(22, 22, 240);
  transition: all 1s;
}
@media screen and (max-width: 1200px) {
  .recipe_app {
    display: grid;
    grid-template-columns: 240px 240px;
  }
  .app_form {
    width: 50%;
    position: fixed;
    left: 225px;
    top: 0px;
    height: 50px;
    margin-top: 30px;
    bottom: 0px;
  }
  #search {
    left: 400px;
    width: 350px;
  }
  .app_submit {
    background-color: rgb(126, 126, 219);
    color: white;
    position: fixed;
    margin-right: -116px;
  }
}
@media screen and (max-width: 700px) {
  .recipe_app {
    display: grid;
    grid-template-columns: 240px;
  }
  .app_submit {
    right: 115px;
  }
}

@media screen and (max-width: 500px) {
  .recipe_app {
    display: grid;
    grid-template-columns: 240px;
  }
  #search {
    left: 80px;
    width: 150px;
  }
  .app_submit {
    right: 155px;
  }
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px;
}
